In [74]:
numeri = [4, 10, 50, 100, 128, 71, 46]
numeripiu10 = [numero + 10 for numero in numeri]
numeripiu10

[14, 20, 60, 110, 138, 81, 56]

In [75]:
nuovi_numeri = []
for numero in numeri:
    nuovi_numeri.append( numero + 10)
print(nuovi_numeri)

[14, 20, 60, 110, 138, 81, 56]

In [76]:
numeri_raddoppiati = [numero*2 for numero in numeri]
numeri_raddoppiati

[8, 20, 100, 200, 256, 142, 92]

In [78]:
import numpy as np
numeri = np.array(numeri)

In [79]:
type(numeri)

numpy.ndarray

In [80]:
numeri * 2

array([  8,  20, 100, 200, 256, 142,  92])

In [12]:
nomi = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
iniziali_nomi = [nome[0] for nome in nomi]
iniziali_nomi

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [73]:
iniziali_nomipunto1 = [nome[0] + "." for nome in nomi]
print(iniziali_nomipunto1)

['A.', 'B.', 'C.', 'D.', 'E.', 'F.', 'G.', 'H.']

In [69]:
inizilai_nomipunto
for iniziale in iniziali_nomi:
                        print(iniziale + ".")

A.
B.
C.
D.
E.
F.
G.
H.

In [38]:
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91M02A321C", "MNOPQR89S03A456D", "STUVWX95Z04A654E", "XYZABC01D05A789F", "DEFGHI95J06A987G"]
caratteri_nome = [caratteri[3:6] for caratteri in lista_cf]
caratteri_nome

['DEF', 'JKL', 'PQR', 'VWX', 'ABC', 'GHI']

In [81]:
{cf: cf[3:6] for cf in lista_cf}

{'ABCDEF95G01A123B': 'DEF',
 'GHIJKL91M02A321C': 'JKL',
 'MNOPQR89S03A456D': 'PQR',
 'STUVWX95Z04A654E': 'VWX',
 'XYZABC01D05A789F': 'ABC',
 'DEFGHI95J06A987G': 'GHI'}

In [83]:
lista_valori = [1, 2, 3, 4, 5, 6]

In [84]:
{cf: val for cf, val in zip(lista_cf, lista_valori)}

{'ABCDEF95G01A123B': 1,
 'GHIJKL91M02A321C': 2,
 'MNOPQR89S03A456D': 3,
 'STUVWX95Z04A654E': 4,
 'XYZABC01D05A789F': 5,
 'DEFGHI95J06A987G': 6}

In [40]:
caratteri_cognome = [caratteri[0:3] for caratteri in lista_cf]
caratteri_cognome

['ABC', 'GHI', 'MNO', 'STU', 'XYZ', 'DEF']

In [85]:
lista_nomi = [cf[3:6] for cf in lista_cf]
lista_cognomi = [cf[:3] for cf in lista_cf]

In [86]:
lista_nomi

['DEF', 'JKL', 'PQR', 'VWX', 'ABC', 'GHI']

In [87]:
lista_cognomi

['ABC', 'GHI', 'MNO', 'STU', 'XYZ', 'DEF']

In [90]:
lista_nati95 = [cf for cf in lista_cf if "95" in cf[6:8]]
lista_nati95

['ABCDEF95G01A123B', 'STUVWX95Z04A654E', 'DEFGHI95J06A987G']

In [92]:
lista_nati95_ultimi5caratteri = [cf[-6:-1] for cf in lista_cf if "95" in cf[6:8]]
lista_nati95_ultimi5caratteri

['1A123', '4A654', '6A987']

In [55]:
prezzi_euro = ["100 €", "200 €", "500 €", "10 €", "50 €", "70 €"]
nuoviprezzi_dollaro = [prezzo.replace("€", "$") for prezzo in prezzi_euro]
nuoviprezzi_dollaro

['100 $', '200 $', '500 $', '10 $', '50 $', '70 $']

In [51]:
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry", "Isabelle", "John"]

In [61]:
prima_squadra = [studente for studente in studenti if studenti.index(studente) < len(studenti)/2]
prima_squadra

['Alex', 'Bob', 'Cindy', 'Dan', 'Emma']

In [95]:
studenti[:len(studenti)//2], studenti[len(studenti)//2:]

(['Alex', 'Bob', 'Cindy', 'Dan', 'Emma'],
 ['Faith', 'Grace', 'Henry', 'Isabelle', 'John'])

In [63]:
seconda_squadra = [studente for studente in studenti if studenti.index(studente) >= len(studenti)/2]
seconda_squadra

['Faith', 'Grace', 'Henry', 'Isabelle', 'John']

In [58]:
squadra_pari = [studente for studente in studenti if studenti.index(studente)%2 == 0]
squadra_pari

['Alex', 'Cindy', 'Emma', 'Grace', 'Isabelle']

In [59]:
squadra_dispari = [studente for studente in studenti if studenti.index(studente)%2 != 0]
squadra_dispari

['Bob', 'Dan', 'Faith', 'Henry', 'John']

In [ ]:
'''studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
squadra1 = []
squadra2 = []
i=0
while i < len(studenti) :
    if i < len(studenti)/2:
        squadra1.append(studenti[i])
    else:
        squadra2.append(studenti[i])
    i += 1
print(squadra1)
print(squadra2)'''

In [5]:
#13

in questo mese: 1 la media dei guadagni è: 100
in questo mese: 2 la media dei guadagni è: 95
in questo mese: 3 la media dei guadagni è: 86
in questo mese: 4 la media dei guadagni è: 75
in questo mese: 5 la media dei guadagni è: 70
in questo mese: 6 la media dei guadagni è: 71
in questo mese: 7 la media dei guadagni è: 74
in questo mese: 8 la media dei guadagni è: 80
in questo mese: 9 la media dei guadagni è: 80
in questo mese: 10 la media dei guadagni è: 74
in questo mese: 11 la media dei guadagni è: 71
in questo mese: 12 la media dei guadagni è: 70

In [57]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
media = []
somma = 0
for n, guadagno in enumerate(guadagni):
    somma += guadagno 
    n += 1
    if guadagni.index(guadagno) == 0:
        print("mese", n, ":", guadagno, "€")
    if guadagni.index(guadagno) > 0:
        print("mese", n, ":", guadagno, "€", "( media prec:", somma//n, ")")

mese 1 : 100 €
mese 2 : 90 € ( media prec: 95 )
mese 3 : 70 € ( media prec: 86 )
mese 4 : 40 € ( media prec: 75 )
mese 5 : 50 € ( media prec: 70 )
mese 6 : 80 € ( media prec: 71 )
mese 7 : 90 € ( media prec: 74 )
mese 8 : 120 € ( media prec: 80 )
mese 9 : 80 € ( media prec: 80 )
mese 10 : 20 € ( media prec: 74 )
mese 11 : 50 € ( media prec: 71 )
mese 12 : 50 € ( media prec: 70 )

In [6]:
guadagni = [100, 90, 70, 40, 50, 80, 90, 120, 80, 20, 50, 50]
for mese, cifra in enumerate(guadagni):
    if mese==0:
        print("il guadagno del primo mese è", cifra, "€")
    else: 
        media = sum(guadagni[:mese])/mese
        print("il guadagno del mese ", mese+1, "è", cifra, "la media prec. è", media, "€")

il guadagno del primo mese è 100 €
il guadagno del mese  2 è 90 la media prec. è 100.0 €
il guadagno del mese  3 è 70 la media prec. è 95.0 €
il guadagno del mese  4 è 40 la media prec. è 86.66666666666667 €
il guadagno del mese  5 è 50 la media prec. è 75.0 €
il guadagno del mese  6 è 80 la media prec. è 70.0 €
il guadagno del mese  7 è 90 la media prec. è 71.66666666666667 €
il guadagno del mese  8 è 120 la media prec. è 74.28571428571429 €
il guadagno del mese  9 è 80 la media prec. è 80.0 €
il guadagno del mese  10 è 20 la media prec. è 80.0 €
il guadagno del mese  11 è 50 la media prec. è 74.0 €
il guadagno del mese  12 è 50 la media prec. è 71.81818181818181 €

In [ ]:
guadagni_anni_successivo = list( range( 1200, 2400, 100))

In [20]:
len(guadagni)

12

In [38]:
#14
lista = [2, 5, 7, 9]
max(lista)

9

In [10]:
#15
numeri = [10, 58, 72, 18, 17, 48, 9, 10, 24, 48]

In [8]:
import numpy as np

In [14]:
def massimo(numeri): #o lista
    massimo_finora = numeri[0]
    for numero in numeri:
        if numero > massimo_finora:
            massimo_finora = numero
    return massimo_finora

In [13]:
massimo(numeri)

72

In [7]:
numeri = [10, 58, 72, 18, 17, 48, 9, 10, 24, 48] 
def massimoo(numeri): #o lista
    massimo_finora = numeri[0]
    minore_finora = numeri[0]
    for numero in numeri:
        if numero > massimo_finora:
            massimo_finora = numero
        elif numero < minore_finora:
            minore_finora = numero
    return massimo_finora, minore_finora

In [8]:
massimoo(numeri)

(72, 9)

In [18]:
def minimo_e_massimo(numeri):
    minimo = min(numeri)
    massimo = max(numeri)
    return minimo, massimo

In [19]:
minimo_e_massimo(numeri)

(9, 72)

In [5]:
numeri = [10, 58, 72, 18, 17, 48, 9, 10, 24, 48] 
def minimo_e_massimo(numeri):
    minimo = min(numeri)
    massimo = max(numeri)
    risultato = {"min": minimo, "max": massimo}
    return minimo, massimo

In [6]:
minimo_e_massimo(numeri)

(9, 72)

In [ ]:
numeri = [10, 58, 72, 18, 17, 48, 9, 10, 24, 48] 
def minimo_e_massimo(numeri):
    minimo = min(numeri)
    massimo = max(numeri)
    risultato = {"min": minimo, "max": massimo}
    return risultato

In [ ]:
import numpy as np

In [11]:
#numeri = [10, 58, 72, 18, 17, 48, 9, 10, 24, 48] 
def trio_massimo(numeri):
    massimi = numeri[:3]
    massimi.sort()
    for numero in numeri[3:]:
        if numero < massimi[0]:
             continue
        elif massimi[0] <= numero < massimi[1]:
            massimi[0] = numero
        elif massimi[1] <= numero < massimi[2]:
            massimi = massimi[1] + [numero] + massimi[2]
        elif numero >= massimi[2]:
            massimi = massimi[1:] + [numero]
    return massimi

In [13]:
trio_massimo(numeri)

[48, 58, 72]

In [14]:
numeri = [10, 58, 72, 18, 17, 48, 9, 10, 24, 48] 
def media_k(numeri, k):
    maggiori = [num for num in numeri if num > k]
    media = sum(maggiori)/len(maggiori)
    return media

In [15]:
media_k(numeri, 3)

31.4

In [1]:
numeri = [10, 58, 72, 18, 17, 48, 9, 10, 24, 48] 
def media_k(numeri, k):
    maggiori = [num for num in numeri if num >= k]
    if len(maggiori) == 0:
        print("non ce ne sono")
        return
    else:    
        media = sum(maggiori)/len(maggiori)
        return media